@import '../static/devices.css';

@tailwind base;
@tailwind utilities;

* {
  font-family: Roboto, "Helvetica Neue", Helvetica, "Segoe UI", Arial, sans-serif;
  box-sizing: border-box;
}

img {
  max-width: initial !important;
}

.max-w-screen {
  max-width: 100vw;
}